<script>
  import { title } from "../stores.js";
  import Button from "../components/Button.svelte";
  title.set("Home");

  async function verifyCollection() {
    let collection = await api.requestCollection();

    for (const comic of collection) {
      // TODO process progress/errors
      api
        .requestDownload(comic.id, console.log)
        .then(console.log)
        .catch(console.error);
    }
  }

  async function purgeDatabase() {
    if (confirm("Are you sure you want to purge the database?")) {
      try {
        await api.purgeDatabase();
        alert("The database has been purged");
      } catch (e) {
        console.error(e);

        alert("failed to purge the database");
      }
    }
  }

  async function optimizeDatabase() {
    try {
      await api.optimizeDatabase();
      alert("The database has been optimized");
    } catch (error) {
      console.error(error);

      alert("failed to optimize database");
    }
  }
</script>

<div class="container">
  <h1>Home</h1>
  <div>
    <Button on:click={verifyCollection}>Verify</Button>
    <Button on:click={purgeDatabase}>Purge Database</Button>
    <Button on:click={optimizeDatabase}>Optimize Database</Button>
  </div>
</div>

<style>
  .container {
    margin: 1em;
    color: white;
  }
</style>
