<script>
  // Libraries
  import { link } from "svelte-spa-router";

  // Components
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import Button from "@/components/Button.svelte";
  import Input from "@/components/Input.svelte";

  import { title } from "@/stores.js";

  title.set("Downloads");

  let createDownloadInputValue = "";

  /// Attempt to extract a comic id.
  ///
  /// Supports:
  /// 1. {comicId}
  /// 2. nhentai.net/g/{comicId}
  /// 3. nhentai.net/g/{comicId}/*
  /// 4. nhentai.to/g/{comicId}
  /// 5. nhentai.to/g/{comicId}/*
  ///
  /// Unsupported:
  /// 1. nhentai.net/api/gallery/{comicId} (low priority, not useful for end users)
  function extractComicId(text) {
    let comicId = parseInt(text);

    // Plain integer id
    if (Number.isInteger(comicId)) return comicId;

    // Attempt url extraction
    let url = null;
    try {
      url = new URL(text);
    } catch (e) {
      if (e instanceof TypeError) {
        throw new Error("invalid id or url");
      } else {
        throw e;
      }
    }

    switch (url.hostname) {
      case "nhentai.to":
      case "nhentai.net": {
        // nhentai/nhentai.to url

        // Iter over path parts, skip leading '/'
        let pathParts = url.pathname.split("/").values();
        pathParts.next();

        // Note: This also catches urls with no path.
        if (pathParts.next().value !== "g")
          throw new Error("the nhentai url is not a gallery url");

        // Give explicit error for urls without a comic id
        let comicIdPart = pathParts.next();
        if (comicIdPart.done)
          throw new Error("the nhentai url is missing a gallery id");

        // Extract value, parse as int, validate
        comicId = parseInt(comicIdPart.value);
        if (Number.isNaN(comicId))
          throw new Error("the nhentai url is missing a gallery id");

        return comicId;
      }
      case window.location.hostname: {
        // Ideally, the server this is hosted on.

        // Validate "real" path
        if (url.pathname !== "/")
          throw new Error("the nhentai url is not the root path");

        // Iter over hash path parts, skip leading '#/'
        let pathParts = url.hash.split("/").values();
        pathParts.next();

        // Note: This also catches urls with no hash path.
        if (pathParts.next().value !== "view")
          throw new Error("the nhentai url is not a view url");

        // Give explicit error for urls without a comic id
        let comicIdPart = pathParts.next();
        if (comicIdPart.done)
          throw new Error("the nhentai url is missing an id");

        // Extract value, parse as int, validate
        comicId = parseInt(comicIdPart.value);
        if (Number.isNaN(comicId))
          throw new Error("the nhentai url is missing an id");

        return comicId;
      }
      default: {
        throw new Error(`unknown hostname "${url.hostname}"`);
      }
    }
  }

  async function createDownload() {
    let comicId = null;
    try {
      comicId = extractComicId(createDownloadInputValue);
    } catch (e) {
      alert(e.message);
      return;
    }

    try {
      await api.createDownload(comicId);
    } catch (e) {
      alert(e);
    } finally {
      downloadsList = api.listDownloads();
    }
  }

  async function deleteDownload(id) {
    try {
      await api.deleteDownload(id);
    } catch (e) {
      alert(e);
    } finally {
      downloadsList = api.listDownloads();
    }
  }

  let downloadsList = api.listDownloads();
</script>

<div class="content">
  <h1>Downloads</h1>
  <div class="create-download-input-container">
    <Input
      bind:value={createDownloadInputValue}
      on:submit={() => createDownload()}
      type="text"
      placeholder="Create a download"
    />
  </div>
  {#await downloadsList}
    Loading...
  {:then downloads}
    {#each downloads as download}
      <div class="download">
        <a class="download-title" use:link href="/download/{download.id}"
          >Download {download.id}</a
        >
        <button on:click={() => deleteDownload(download.id)}>X</button>
      </div>
    {/each}
    {#if downloads.length == 0}
      <div>No Downloads</div>
    {/if}
  {:catch error}
    <ErrorDisplay {error} />
  {/await}
</div>

<style>
  .content {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .create-download-input-container {
    display: flex;
  }

  .download {
    background-color: #1f1f1f;
    border-radius: 0.3em;
    color: #d9d9d9;
    display: flex;
    font-size: 1.1em;
    margin: 0.5em;
  }

  .download-title {
    color: white;
    flex-grow: 1;
    padding: 0.3em;
    padding-right: 0.5em;
    text-decoration: none;
  }

  .download button {
    background-color: #ff0000;
    border-color: transparent;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    cursor: pointer;
    transition-duration: 500ms;
  }

  .download button:active {
    background-color: #8b0000;
  }

  .download button:hover {
    background-color: #ffcccb;
  }
</style>
