<script>
  // Libraries
  import { onMount } from "svelte";

  // Components
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";

  export let params = {};

  // File states
  const FILE_STATE = Object.freeze({
    STARTED: 1,
    DOWNLOADED: 2,
    VERIFIED: 3,
    ERROR: 4,
  });

  // Map of file state => css class
  const FILE_STATE_CSS_CLASS = Object.freeze({
    [FILE_STATE.STARTED]: "file-started",
    [FILE_STATE.DOWNLOADED]: "file-downloaded",
    [FILE_STATE.VERIFIED]: "file-verified",
    [FILE_STATE.ERROR]: "file-error",
  });

  let state = {
    metadata_ok: false,
    metadata_error: null,
    invalid_download_list_entries: [],
    comic_dir_creaction_error: null,
    file_downloads: [],
  };
  let gotFirstMessage = false;
  let completed = false;
  let missing = false;

  onMount(async () => {
    let downloadStream = api.getDownload(params.comic);
    let handlers = {
      NewState: function (event) {
        state = event.data;
      },
      MetadataDownloadOk: function (event) {
        state.metadata_ok = true;
        state = state;
      },
      MetadataDownloadError: function (event) {
        state.metadata_error = event.error;
        state = state;
      },
      DownloadListCreationError: function (event) {
        state.invalid_download_list_entries.push(error);
        state = state;
      },
      BuiltDownloadList: function (event) {
        for (const file_name of event.data.files) {
          state.file_downloads.push({
            file_name,
            state: FILE_STATE.STARTED,
          });
        }
        state = state;
      },
      ComicDirCreationError: function (event) {
        state.comic_dir_creaction_error = event.error;
        state = state;
      },
      ImageDownloadOk: function (event) {
        let index = state.file_downloads.findIndex(
          (el) => el.file_name == event.data.file_name,
        );
        state.file_downloads[index].state =
          event.data.downloaded === true
            ? FILE_STATE.DOWNLOADED
            : FILE_STATE.VERIFIED;
        state = state;
      },
      ImageDownloadError: function (event) {
        let index = state.file_downloads.findIndex(
          (el) => el.file_name == event.data.file_name,
        );
        state.file_downloads[index].state = FILE_STATE.ERROR;
        state = state;
      },
      close: function () {},
    };

    try {
      gotFirstMessage = false;
      for await (let event of downloadStream) {
        gotFirstMessage = true;

        let handler = handlers[event.type];
        if (handler) {
          handler(event);
        } else {
          console.warn("Unknown Event", event);
        }
      }

      completed = true;
    } catch (error) {
      console.error("failed to stream download events", error);
      switch (error.type) {
        case "missing": {
          gotFirstMessage = true;
          missing = true;
          break;
        }
        default: {
          console.error("unknown error", error);
        }
      }
    }
  });
</script>

<div class="content">
  <h1>Download {params.comic}</h1>
  {#if gotFirstMessage}
    {#if !missing}
      <div class="info">
        <div>Id: {params.comic}</div>
        <div>Metadata Downloaded?: {state.metadata_ok}</div>
        <div>Completed?: {completed}</div>
      </div>
      {#if state.metadata_error}
        <ErrorDisplay error={state.metadata_error} />
      {/if}
      <div class="file-container">
        {#each state.file_downloads as fileDownloadEntry}
          <div class="file {FILE_STATE_CSS_CLASS[fileDownloadEntry.state]}">
            {fileDownloadEntry.file_name}
          </div>
        {/each}
      </div>
    {:else}
      <div>This download does not exist.</div>
    {/if}
  {:else}
    Loading...
  {/if}
</div>

<style>
  .content {
    color: white;
    padding: 1em;
    text-align: center;
  }

  .info {
    font-size: 1.3 em;
    text-align: left;
  }

  .file-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
  }

  .file {
    border-radius: 1em;
    margin: 0.1em;
    min-width: 20vw;
    padding: 1em;
    text-align: center;
  }

  .file-started {
    background-color: grey;
  }

  .file-downloaded {
    background-color: green;
  }

  .file-verified {
    background-color: blue;
  }

  .file-error {
    background-color: red;
  }
</style>
