<script>
  // Libraries
  import { link, restoreScroll } from "svelte-spa-router";
  import { tick, onDestroy } from "svelte";

  // Utils
  import { title } from "@/stores.js";
  import { setShouldUpdateScroll } from "@/utils.js";

  // Components
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import LoadingSpinner from "@/components/LoadingSpinner.svelte";

  export let params = {};

  let tagRows = [
    { title: "Artists", tagKind: "artist" },
    { title: "Tags", tagKind: "tag" },
    { title: "Languages", tagKind: "language" },
    { title: "Categories", tagKind: "category" },
    { title: "Groups", tagKind: "group" },
    { title: "Parodies", tagKind: "parody" },
  ];

  setShouldUpdateScroll(false);
  let getComicPromise = api
    .getComic(params.comicId)
    .then((comic) => {
      title.set(comic.title.pretty);
      return comic;
    })
    .finally(() => {
      // The 4-tick delay is determined by experimentation
      tick()
        .then(tick())
        .then(tick())
        .then(tick())
        .then(() => {
          restoreScroll(window.history.state);
          setShouldUpdateScroll(true);
        });
    });

  title.set(`Comic ${params.comicId} Manager`);

  let titleValue;
  let unsubscribeTitleValue = title.subscribe((value) => {
    titleValue = value;
  });

  onDestroy(() => {
    unsubscribeTitleValue();
  });
</script>

<div class="container">
  <div class="manager">
    <h1>{titleValue}</h1>
    {#await getComicPromise}
      <LoadingSpinner />
    {:then comic}
      <img
        src="/collection/{params.comicId}/cover.{comic.images.cover.extension}"
        alt="comic cover"
        width={comic.images.cover.width}
        height={comic.images.cover.height}
      />
      {#each tagRows as row}
        <div class="tags-row">
          {row.title}:
          {#each comic.tags.filter((tag) => tag.kind === row.tagKind) as tag}
            <a class="tag" href="/view?tags={tag.name}" use:link>{tag.name}</a>
          {/each}
        </div>
      {/each}
    {:catch error}
      <ErrorDisplay {error} />
    {/await}
    <a href="/view/{params.comicId}/reader" class="open-reader-link" use:link>
      <button>Open Reader</button>
    </a>
  </div>
</div>

<style>
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }

  .manager {
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 1em;
    display: inline-flex;
    flex-direction: column;
    padding: 1em;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  .tags-row {
    align-items: center;
    box-sizing: border-box;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.3em;
    font-weight: Bold;
    width: 100%;
  }

  .tag {
    background-color: var(--primary-active-color);
    border-radius: 0.5em;
    color: black;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    padding: 0.3em;
    text-decoration: none;
  }

  .open-reader-link {
    margin: 1em;
  }

  button {
    background-color: var(--primary-active-color);
    border: 0;
    border-radius: 0.2em;
    color: black;
    cursor: pointer;
    font-family: "Roboto";
    font-size: 1.3em;
    font-weight: Bold;
    padding: 0.5em;
    transition: all 0.3s;
  }

  button:active {
    filter: brightness(85%);
  }
</style>
