<script>
  // Libraries
  import { tick } from "svelte";
  import { restoreScroll } from "svelte-spa-router";

  import { title } from "@/stores.js";
  import { setShouldUpdateScroll } from "@/utils.js";

  // Components
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import LoadingSpinner from "@/components/LoadingSpinner.svelte";

  export let params = {};

  let comicPromise = api.getComic(params.comicId);

  // Scroll Restore
  setShouldUpdateScroll(false);
  comicPromise.finally(() => {
    // The 2-tick delay is determined by experimentation
    tick()
      .then(tick)
      .then(() => {
        restoreScroll(window.history.state);
        setShouldUpdateScroll(true);
      });
  });

  // Title
  title.set(`Comic ${params.comicId}`);
  comicPromise.then((comic) => {
    title.set(comic.title.pretty);
  });
</script>

{#await comicPromise}
  <div class="loading-container">
    <LoadingSpinner />
  </div>
{:then comic}
  <div class="content">
    {#each comic.images.pages as page, i}
      <div
        class="comic-image-container"
        style="aspect-ratio: {page.width} / {page.height};"
      >
        <img
          src="/collection/{params.comicId}/{i + 1}.{page.extension}"
          alt="image {i + 1}"
          class="comic-image"
          width={page.width}
          height={page.height}
          loading="lazy"
        />
      </div>
    {/each}
  </div>
{:catch error}
  <ErrorDisplay {error} />
{/await}

<style>
  .loading-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .comic-image-container {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 95vh;
  }

  .comic-image {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .content {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }
</style>
