<script>
  export let disabled = false;
</script>

<button {disabled} on:click>
  <slot />
</button>

<style>
  button {
    background-color: #f20587;
    display: inline-block;
    padding: 1em;
    border-radius: 0.5em;
    color: #1f1f1f;
    text-decoration: none;
    text-align: center;
    border: 0;
    transition: all 0.5s;
    cursor: pointer;
  }

  button:hover {
    background-color: #ff008c;
  }

  button:active {
    background-color: #a8005c;
  }
</style>
