<script>
  export let error;
</script>

<div class="container">
  {#if error.message}
    <div>{error.message}</div>
  {:else if error.messages}
    <div>Error</div>
    <div class="tabbed-once">
      {#each error.messages as message}
        <div>{message}</div>
      {/each}
    </div>
  {:else}
    <div>Unknown Error: {JSON.stringify(error)}</div>
  {/if}
</div>

<style>
  .container {
    margin: 1em;
  }

  div {
    color: red;
  }

  .tabbed-once {
    margin-left: 1em;
  }
</style>
