<script>
  import { createEventDispatcher } from "svelte";

  export let value;
  export let placeholder;
  export let type;

  const dispatch = createEventDispatcher();

  function handleKeyDown() {
    // Enter == 13
    if (event.keyCode === 13) dispatch("submit", value);
  }
</script>

{#if type == "search"}
  <input
    type="search"
    {placeholder}
    bind:value
    on:keydown={handleKeyDown}
    autocomplete="off"
  />
{:else}
  <input
    type="text"
    {placeholder}
    bind:value
    on:keydown={handleKeyDown}
    autocomplete="off"
  />
{/if}

<style>
  input {
    background-color: var(--primary-background-color);
    border: 0.1em solid var(--secondary-background-color);
    border-radius: 1em;
    box-sizing: border-box;
    color: var(--primary-text-color);
    font-size: 1.5em;
    height: 2em;
    margin: 0.5em;
    outline: none;
    padding: 0.5em;
    width: 100%;
  }

  input:hover,
  input:active,
  input:focus {
    background-color: var(--secondary-background-color);
  }

  input::-webkit-search-cancel-button {
    display: none;
  }
</style>
