<div class="loading-spinner"></div>

<style>
  .loading-spinner {
    animation: spin 1.5s linear infinite;
    border-radius: 50%;
    border-bottom: var(--secondary-background-color) solid 0.5em;
    border-top: var(--secondary-background-color) solid 0.5em;
    border-left: var(--secondary-background-color) solid 0.5em;
    border-right: var(--primary-background-color) solid 0.5em;
    box-sizing: border-box;
    height: 5em;
    width: 5em;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
