<script>
  import { link } from "svelte-spa-router";
</script>

<nav>
  <ul>
    <li>
      <a href="/" use:link> Home </a>
    </li>
    <li>
      <a href="/view" use:link> View </a>
    </li>
    <li>
      <a href="/download" use:link> Download </a>
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--secondary-background-color);
    height: 3em;
    width: 100%;
  }

  ul {
    align-items: center;
    display: inline-flex;
    height: 100%;
    list-style-type: none;
    margin: 0 0;
    padding: 0em;
  }

  a {
    align-items: center;
    color: var(--primary-text-color);
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    text-decoration: none;
  }

  li {
    background-color: var(--secondary-background-color);
    height: 100%;
    transition: all 0.5s;
  }

  li:hover {
    filter: brightness(1.75);
  }
</style>
