<script>
  // Libraries
  import { tick, onMount, onDestroy } from "svelte";
  import { derived } from "svelte/store";
  import {
    link,
    location,
    querystring,
    push,
    restoreScroll,
  } from "svelte-spa-router";

  import { title } from "@/stores.js";
  import { setShouldUpdateScroll, shouldUpdateScroll } from "@/utils.js";

  // Components
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import LoadingSpinner from "@/components/LoadingSpinner.svelte";
  import Input from "@/components/Input.svelte";

  title.set("View");

  // Search Params for the page
  class SearchParams {
    constructor(querystring) {
      this.raw = new URLSearchParams(querystring);

      this.query = this.raw.get("query");
      if (this.query === "") this.raw.delete("query");

      let rawTags = this.raw.get("tags");
      if (rawTags === "") this.raw.delete("tags");

      this.sort();

      this.tags = new Set(
        (rawTags || "").split(",").filter((tag) => tag.length !== 0),
      );
    }

    setQuery(query) {
      // If the query is empty, remove it.
      if (query === "" || query === null || query === undefined) {
        this.raw.delete("query");
        this.query = null;
      } else {
        this.raw.set("query", query);
        this.query = query;
      }
      this.sort();
    }

    // Remove a tag
    removeTag(tag) {
      this.tags.delete(tag);
      this.setTags(this.tags);
    }

    setTags(tags) {
      // If the tags are empty, remove them.
      if (tags === null || tags === undefined || tags.size === 0) {
        this.raw.delete("tags");
        this.tags = null;
      } else {
        tags = Array.from(tags).join(",");

        this.raw.set("tags", tags);
        this.tags = tags;
      }
      this.sort();
    }

    clone() {
      return new SearchParams(this.raw);
    }

    sort() {
      this.raw.sort();
    }
  }

  // Search parameters for the page.
  let searchParams = derived(
    querystring,
    ($querystring) => new SearchParams($querystring),
  );

  // When `query` is updated, we should default the `searchInput`.
  // `query` will only change on page reloads.
  let searchInput = "";
  let unsubscribeSearchInput = searchParams.subscribe((searchParams) => {
    searchInput = searchParams.query;
  });

  function handleSearchSubmit(event) {
    navigateToSearchPage({ query: searchInput });
  }

  function navigateToSearchPage({ query, tags } = {}) {
    if (query !== undefined) $searchParams.setQuery(query);
    if (tags !== undefined) $searchParams.setTags(tags);

    let newLocation = $location + "?" + $searchParams.raw;

    // Note that we do not refresh searchParams manually here with `searchParams = searchParams`.
    // This is because we instead elect to navigate to a new page.
    // That will update the `querystring` variable,
    // which will update the `searchParams` variable,
    // which will cause a new request to be sent for data.
    // Updating `searchParams` manually will cause all this to happen twice, which is not desired.
    push(newLocation);
  }

  async function updateComicsList(query, tags) {
    // Disable scroll updates while loading
    setShouldUpdateScroll(false);

    try {
      let comics = await api.listComics({ query, tags });
      return comics;
    } finally {
      // The 2-tick delay is determined by experimentation
      tick()
        .then(tick)
        .then(() => {
          restoreScroll(window.history.state);
          setShouldUpdateScroll(true);
        });
    }
  }

  $: updateComicsListPromise = updateComicsList(
    $searchParams.query,
    $searchParams.tags,
  );

  onMount(() => {
    // console.log("Mounted");
  });

  onDestroy(() => {
    unsubscribeSearchInput();
  });
</script>

<div class="container">
  <h1>View</h1>
  <div class="input-container">
    <Input
      bind:value={searchInput}
      on:submit={handleSearchSubmit}
      placeholder="Search"
      type="search"
    />
    <div class="tags-row">
      Tags:
      {#each Array.from($searchParams.tags) as name}
        <!-- A hack to copy the global search parameters and modify it for use in this tag's hyperlink. -->
        {@const params = $searchParams.clone()}
        {@const _removeTagHack = params.removeTag(name)}

        <a class="tag" use:link href="/view?{params.raw}">
          {name}
        </a>
      {/each}
      <button class="tag new-tag-button">+</button>
    </div>
  </div>
  <!--<div>Number of Comics: {$collection.length}</div>-->

  {#await updateComicsListPromise}
    <LoadingSpinner />
  {:then comics}
    <ol>
      {#each comics as comic}
        <li>
          <a href="/view/{comic.id}" use:link class="link">
            <img
              src="/collection/{comic.id}/cover.{comic.cover_image.extension}"
              alt="cover image for comic {comic.id}"
              width={comic.cover_image.width}
              height={comic.cover_image.height}
            />
            <div class="link-title-container">
              <div class="link-title">
                <div>{comic.pretty_title}</div>
                <div>({comic.id})</div>
              </div>
            </div>
          </a>
        </li>
      {/each}
      {#if comics.length === 0}
        No Results
      {/if}
    </ol>
  {:catch error}
    <ErrorDisplay {error} />
  {/await}
</div>

<style>
  .container {
    align-items: center;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
  }

  h1 {
    color: var(--primary-text-color);
    text-align: center;
  }

  .input-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
  }

  .tags-row {
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 0.2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    font-weight: Bold;
    height: 3em;
    padding: 0.5em;
    margin: 0.5em;
    width: 100%;
  }

  .tag {
    align-items: center;
    background-color: var(--primary-active-color);
    border: 0;
    border-radius: 0.5em;
    box-sizing: border-box;
    color: black;
    display: flex;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: Bold;
    height: 2em;
    justify-content: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
    padding: 0.3em;
    text-decoration: none;
  }

  .tag:active {
    filter: brightness(85%);
  }

  .new-tag-button {
    cursor: pointer;
    height: 2em;
    padding: 0;
    width: 2em;
  }

  button:active {
    filter: brightness(85%);
  }

  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
  }

  ol li {
    display: flex;
  }

  .link {
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5em;
    padding: 0.5em;
    text-decoration: none;
    width: 9em;
  }

  .link img {
    border-radius: 0.5em;
    height: auto;
    width: 9em;
  }

  .link-title-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.1em;
    justify-content: center;
    padding: 0.5em;
    text-align: center;
  }
</style>
