<script>
  // Libraries
  import Router from "svelte-spa-router";

  // Utils
  import { title } from "@/stores.js";
  import { updateScroll, shouldUpdateScroll } from "@/utils.js";

  // Routes
  import Index from "@/routes/Index.svelte";
  import View from "@/routes/view/Index.svelte";
  import ViewComicId from "@/routes/view/{comicId}/Index.svelte";
  import ViewComicIdReader from "@/routes/view/{comicId}/Reader.svelte";
  import Download from "@/routes/download/Index.svelte";
  import DownloadComicId from "@/routes/download/{comicId}.svelte";
  import NotFound from "@/routes/NotFound.svelte";

  // Components
  import NavBar from "@/components/NavBar.svelte";

  const routes = {
    "/": Index,

    "/view": View,
    "/view/:comicId": ViewComicId,
    "/view/:comicId/reader": ViewComicIdReader,

    "/download": Download,
    "/download/:comic": DownloadComicId,

    "*": NotFound,
  };

  // Save scroll state before unload
  window.addEventListener("beforeunload", (event) => {
    updateScroll();
  });

  // We need to update the fucking scoll in real-time,
  // as it is literally impossible to tell when the user clicks the fucking back button.
  // Furthermore, beforeunload will not work with hash changes,
  // so we are fucked since we are an SPA.
  // Its honestly fucking incredible to me that JS is so popular without even being able to implement basic functionality in a UI.
  let scrollTimeout = null;
  window.addEventListener("scroll", (event) => {
    if (shouldUpdateScroll) {
      if (scrollTimeout) clearTimeout(scrollTimeout);
      scrollTimeout = setTimeout(updateScroll, 200);
    }
  });
</script>

<svelte:head>
  <title>{$title}</title>
</svelte:head>

<NavBar />
{#if window.location.pathname == "/"}
  <Router {routes} restoreScrollState={true} />
{:else}
  <NotFound />
{/if}
